# Limpieza de datos

Importamos librerías y cargamos los archivos

In [1]:
import pandas as pd
import numpy as np

In [2]:
#tablas iniciales
gamers = pd.read_csv("../data/data_gamers.csv")
nuevos_talentos = pd.read_csv("../data/nuevos_talentos.csv")
talentos_indies = pd.read_csv("../data/talentos_indies.csv")
#datos scrapeados
user_youtube = pd.read_csv("../data/df_user_youtube.csv")
juegos_mas_vistos = pd.read_csv("../data/juegos_mas_vistos.csv")
streamers_top = pd.read_csv("../data/streamers_limpio.csv")
top_streamers = pd.read_csv("../data/TWITCH_TOP_STREAMERS_week.csv")

In [3]:
user_youtube.rename(columns={"0":"Usuario"}, inplace=True)
user_youtube.head()

   Unnamed: 0         Usuario           Gamer
0           0  @miquelmontoro  Miquel Montoro
1           1  @jesuscastro17    Jesús Castro
2           2      @seguimarc      Marc Seguí
3           3   @nudelolablog  Lola Rodríguez
4           4     @pablogshow      PabloGShow

# Funciones de limpieza

In [56]:
def convert_percentage_to_float(percentage):
    if isinstance(percentage, str) and percentage.endswith('%'):
        percentage = percentage[:-1]  # Eliminar el símbolo de porcentaje
        try:
            percentage = float(percentage) / 100  # Dividir por 100
            return percentage
        except ValueError:
            return None
    else:
        return None

In [16]:
# Definir la función de conversión
def convert_to_numeric(value):
    try:
        if value[-1] == 'K':
            return float(value[:-1]) * 1000
        elif value[-1] == 'M':
            return float(value[:-1]) * 1000000
        else:
            return float(value)
    except:
        return None

In [184]:

def clean_streamers_data(df):
    # Borramos el índice mal guardado
    df.drop(columns="Unnamed: 0", inplace=True)
    
    # Borramos la columna "hours" que no hace nada
    df.drop(columns="hours", inplace=True)
    
    # Quitamos el "+" de la columna "FOLLOWERS GAINED"
    df["FOLLOWERS GAINED"] = df["FOLLOWERS GAINED"].str.replace("+", "", regex=True)
    
    # Aplicar la función a la columna "HOURS WATCHED"
    df["HOURS WATCHED"] = df["HOURS WATCHED"].apply(convert_to_numeric)
    
    # Aplicar la función a la columna "FOLLOWERS GAINED"
    df["FOLLOWERS GAINED"] = df["FOLLOWERS GAINED"].apply(convert_to_numeric)
    
    # Aplicar la función a la columna "TOTAL VIEWS"
    df["TOTAL VIEWS"] = df["TOTAL VIEWS"].apply(convert_to_numeric)
    
    # Aplicar la función a la columna "TOTAL FOLLOWERS"
    df["TOTAL FOLLOWERS"] = df["TOTAL FOLLOWERS"].apply(convert_to_numeric)
    
    # Eliminar las comas de los valores en "AVG VIEWERS"
    df['AVG VIEWERS'] = df['AVG VIEWERS'].str.replace(',', '.')
    
    # Convertir la columna "AVG VIEWERS" a tipo float
    df['AVG VIEWERS'] = df['AVG VIEWERS'].astype(float)
    
    # Rellenar los valores nulos en "TOTAL VIEWS" con 0
    df['TOTAL VIEWS'] = df['TOTAL VIEWS'].fillna(0)
    
    # Convertir las columnas "TOTAL FOLLOWERS" y "TOTAL VIEWS" a tipo int
    df['TOTAL FOLLOWERS'] = df['TOTAL FOLLOWERS'].astype(int)
    df['TOTAL VIEWS'] = df['TOTAL VIEWS'].astype(int)
    
    # Eliminar los puntos de los valores en "ALL TIME PEAK VIEWERS"
    df['ALL TIME PEAK VIEWERS'] = df['ALL TIME PEAK VIEWERS'].str.replace(',', '')
    
    # Eliminar los puntos de los valores en "ALL TIME PEAK VIEWERS"
    df['ALL TIME PEAK VIEWERS']  = df['ALL TIME PEAK VIEWERS'] .str.replace('.', '')
    
    # Convertir la columna "ALL TIME PEAK VIEWERS" a tipo int
    df['ALL TIME PEAK VIEWERS'] = df['ALL TIME PEAK VIEWERS'].astype(int)
    
    # Rellenar los valores nulos en "TOTAL VIEWS" con 0
    df['TOTAL VIEWS'] = df['TOTAL VIEWS'].fillna(0)
    
    # Convertir la columna "FOLLOWERS GAINED" a tipo int
    df['FOLLOWERS GAINED'] = df['FOLLOWERS GAINED'].astype(int)
    
    # Eliminar los puntos de los valores en "RANK"
    df['RANK'] = df['RANK'].str.replace(',', '')
    
    # Convertir la columna "RANK" a tipo int
    df['RANK'] = df['RANK'].astype(int)
    
    return df

# Limpieza inicial: tablas iniciales

Las tablas gamers, talentos_indies y nuevos_talentos son tablas de las que partimos y que sirven de ejemplo sobre cómo se puede investigar a una lista concreta de gamers para obtener información sobre sus desempeños. En este caso la investigación fue sobre su información y media de sus canales de youtube.

Tabla Gamers

In [171]:
gamers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UPLOADS       192 non-null    int32
 1   SUBSCRIBERS   192 non-null    int32
 2   VIDEO VIEWS   192 non-null    int32
 3   COUNTRY       192 non-null    object
 4   CHANNEL TYPE  178 non-null    object
 5   USER CREATED  191 non-null    datetime64[ns]
 6   Gamer         191 non-null    object
dtypes: datetime64[ns](1), int32(3), object(3)
memory usage: 8.4+ KB

In [128]:
#borramos y limpiamos lo que no sirve

gamers.COUNTRY.replace("CHANNEL TYPE", "Nn", regex=True, inplace=True)

gamers.drop(columns="Sep 19th, 2018", inplace=True)

gamers.drop(columns="Games", inplace=True)

# Eliminar los puntos de los valores
gamers['UPLOADS'] = gamers['UPLOADS'].str.replace(',', '')

# Eliminar los puntos de los valores
gamers['UPLOADS']  = gamers['UPLOADS'] .str.replace('.', '')

# Convertir la columna a tipo int
gamers['UPLOADS'] = gamers['UPLOADS'].astype(int)

#aplicar el cambio de k y m para tenerlos en valores numéricos
gamers["SUBSCRIBERS"] = gamers["SUBSCRIBERS"].apply(convert_to_numeric)

gamers["SUBSCRIBERS"] = gamers["SUBSCRIBERS"].astype(int)

# Eliminar los puntos de los valores
gamers['VIDEO VIEWS'] = gamers['VIDEO VIEWS'].str.replace(',', '')

# Eliminar los puntos de los valores
gamers['VIDEO VIEWS']  = gamers['VIDEO VIEWS'] .str.replace('.', '')

# Convertir la columna a tipo int
gamers['VIDEO VIEWS'] = gamers['VIDEO VIEWS'].astype(int)

#pasamos la columa de USER CREATED a formato tiempo
gamers["USER CREATED"] = pd.to_datetime(gamers["USER CREATED"])

C:\Users\GAMM\AppData\Local\Temp\ipykernel_19308\2744406401.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  gamers['UPLOADS']  = gamers['UPLOADS'] .str.replace('.', '')

In [175]:
#guardamos el df limpio
gamers.to_csv("../data/data_cleaned/gamers_cleaned.csv", index=False)

Tabla Talentos Indies

In [163]:
talentos_indies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UPLOADS       17 non-null     int32
 1   SUBSCRIBERS   17 non-null     int32
 2   VIDEO VIEWS   17 non-null     int32
 3   COUNTRY       17 non-null     object
 4   USER CREATED  17 non-null     datetime64[ns]
 5   Gamer         17 non-null     object
 6   CHANNEL TYPE  14 non-null     object
dtypes: datetime64[ns](1), int32(3), object(3)
memory usage: 876.0+ bytes

In [162]:
talentos_indies.head()

,UPLOADS,SUBSCRIBERS,VIDEO VIEWS,COUNTRY,USER CREATED,Gamer,CHANNEL TYPE
0,0,113,0,Nn,2011-09-29,Bruno Sol,NaN
1,1517,37700,8101582,ES,2012-02-15,DjPrieto y neta,Entertainment
2,296,27000,1983966,ES,2019-08-08,Indies con Lara,Games
3,18,59,74290,US,2008-08-03,Jin Kisaragi,Music
4,2195,1050000,211421624,ES,2015-01-26,Kahuna Games,Games

In [147]:
#borramos el indice mal guardado
talentos_indies.drop(columns="Unnamed: 0", inplace=True)

# Eliminar los puntos de los valores
talentos_indies['UPLOADS'] = talentos_indies['UPLOADS'].str.replace(',', '')

# Eliminar los puntos de los valores
talentos_indies['UPLOADS']  = talentos_indies['UPLOADS'] .str.replace('.', '')

# Convertir la columna a tipo int
talentos_indies['UPLOADS'] = talentos_indies['UPLOADS'].astype(int)

#aplicar el cambio de k y m para tenerlos en valores numéricos
talentos_indies["SUBSCRIBERS"] = talentos_indies["SUBSCRIBERS"].apply(convert_to_numeric)

talentos_indies["SUBSCRIBERS"] = talentos_indies["SUBSCRIBERS"].astype(int)

# Eliminar los puntos de los valores
talentos_indies['VIDEO VIEWS'] = talentos_indies['VIDEO VIEWS'].str.replace(',', '')

# Eliminar los puntos de los valores
talentos_indies['VIDEO VIEWS']  = talentos_indies['VIDEO VIEWS'] .str.replace('.', '')

# Convertir la columna a tipo int
talentos_indies['VIDEO VIEWS'] = talentos_indies['VIDEO VIEWS'].astype(int)

#borramos y limpiamos lo que no sirve

talentos_indies.COUNTRY.replace("CHANNEL TYPE", "Nn", regex=True, inplace=True)

#pasamos la columa de USER CREATED a formato tiempo
talentos_indies["USER CREATED"] = pd.to_datetime(talentos_indies["USER CREATED"])

In [174]:
#guardamos el df limpio
talentos_indies.to_csv("../data/data_cleaned/talentos_indies.csv", index=False)

Tabla de Nuevos Talentos

In [170]:
nuevos_talentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UPLOADS       31 non-null     int32
 1   SUBSCRIBERS   31 non-null     int32
 2   VIDEO VIEWS   31 non-null     int32
 3   COUNTRY       31 non-null     object
 4   CHANNEL TYPE  29 non-null     object
 5   USER CREATED  31 non-null     datetime64[ns]
 6   Gamer         31 non-null     object
dtypes: datetime64[ns](1), int32(3), object(3)
memory usage: 1.5+ KB

In [169]:
nuevos_talentos.head()

,UPLOADS,SUBSCRIBERS,VIDEO VIEWS,COUNTRY,CHANNEL TYPE,USER CREATED,Gamer
0,157,325000,17923614,ES,People,2017-03-08,Miquel Montoro
1,787,80300,5140984,VE,Games,2015-05-18,Jesús Castro
2,19,1570,154950,ES,Howto,2011-10-07,Lola Rodríguez
3,12,257000,4779325,ES,Comedy,2012-09-29,PabloGShow
4,3,2680,58003,ES,People,2010-05-24,Benji Verdes

In [167]:
def clean_dataframe(df):
    
    # Eliminar los puntos de los valores en la columna "UPLOADS"
    df['UPLOADS'] = df['UPLOADS'].str.replace(',', '').str.replace('.', '')
    df['UPLOADS'] = df['UPLOADS'].astype(int)
    
    # Convertir la columna "SUBSCRIBERS" a tipo int
    df["SUBSCRIBERS"] = df["SUBSCRIBERS"].apply(convert_to_numeric)
    df["SUBSCRIBERS"] = df["SUBSCRIBERS"].astype(int)
    
    # Eliminar los puntos de los valores en la columna "VIDEO VIEWS"
    df['VIDEO VIEWS'] = df['VIDEO VIEWS'].str.replace(',', '').str.replace('.', '')
    df['VIDEO VIEWS'] = df['VIDEO VIEWS'].astype(int)
    
    # Reemplazar "CHANNEL TYPE" por "Nn" en la columna "COUNTRY"
    df["COUNTRY"].replace("CHANNEL TYPE", "Nn", regex=True, inplace=True)
    
    # Convertir la columna "USER CREATED" a formato de tiempo
    df["USER CREATED"] = pd.to_datetime(df["USER CREATED"])
    
    return df

In [168]:
nuevos_talentos= clean_dataframe(nuevos_talentos)

C:\Users\GAMM\AppData\Local\Temp\ipykernel_19308\234486186.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['UPLOADS'] = df['UPLOADS'].str.replace(',', '').str.replace('.', '')
C:\Users\GAMM\AppData\Local\Temp\ipykernel_19308\234486186.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['VIDEO VIEWS'] = df['VIDEO VIEWS'].str.replace(',', '').str.replace('.', '')

In [176]:
#guardamos el df limpio
nuevos_talentos.to_csv("../data/data_cleaned/nuevos_talentos.csv", index=False)

# Datos obtenidos del web scrapping

La tabla *top_gamers* hace referencia a los más importantes actualmente, por sus analíticas generales. AVG VIEWERS es una métrica que se usa para medir el rendimiento de las transmisiones en vivo en plataformas como Twitch o YouTube. Significa el número promedio de espectadores simultáneos que tiene una transmisión en un período de tiempo determinado123. Por ejemplo, si una transmisión tiene 100 espectadores al inicio, 200 al medio y 50 al final, el AVG VIEWERS sería (100 + 200 + 50) / 3 = 116.67.

In [10]:
top_gamers = top_streamers

In [12]:
#borramos el indice mal guardado
top_gamers.drop(columns="Unnamed: 0", inplace=True)

#borramos la columna hours que no hace nada
top_gamers.drop(columns="Unnamed: 0", inplace=True)

#quitamos el más de la columna
top_gamers["FOLLOWERS GAINED"] = top_gamers["FOLLOWERS GAINED"].str.replace("+", "", regex=True)

# Aplicar la función a la columna del DataFrame
top_gamers["HOURS WATCHED"] = top_gamers["HOURS WATCHED"].apply(convert_to_numeric)

# Aplicar la función a la columna del DataFrame
top_gamers["FOLLOWERS GAINED"] = top_gamers["FOLLOWERS GAINED"].apply(convert_to_numeric)

# Aplicar la función a la columna del DataFrame
top_gamers["TOTAL VIEWS"] = top_gamers["TOTAL VIEWS"].apply(convert_to_numeric)

# Aplicar la función a la columna del DataFrame
top_gamers["TOTAL FOLLOWERS"] = top_gamers["TOTAL FOLLOWERS"].apply(convert_to_numeric)

# Eliminar las comas de los valores
top_gamers['AVG VIEWERS'] = top_gamers['AVG VIEWERS'].str.replace(',', '.')

# Convertir la columna a tipo int
top_gamers['AVG VIEWERS'] =top_gamers['AVG VIEWERS'].astype(float)

# Convertir la columna a tipo int
top_gamers['TOTAL FOLLOWERS'] = top_gamers['TOTAL FOLLOWERS'].astype(int)

# Convertir la columna a tipo int
top_gamers['TOTAL VIEWS'] = top_gamers['TOTAL VIEWS'].astype(int)

# Eliminar los puntos de los valores
top_gamers['ALL TIME PEAK VIEWERS'] = top_gamers['ALL TIME PEAK VIEWERS'].str.replace(',', '')

# Eliminar los puntos de los valores
top_gamers['ALL TIME PEAK VIEWERS']  = top_gamers['ALL TIME PEAK VIEWERS'] .str.replace('.', '')

# Convertir la columna a tipo int
top_gamers['ALL TIME PEAK VIEWERS'] = top_gamers['ALL TIME PEAK VIEWERS'].astype(int)

#rellenamos los valores nulos con 0
top_gamers['TOTAL VIEWS'] = top_gamers['TOTAL VIEWS'].fillna(0)

# Convertir la columna a tipo int
top_gamers['TOTAL FOLLOWERS'] = top_gamers['TOTAL FOLLOWERS'].astype(int)

# Convertir la columna a tipo int
top_gamers['TOTAL VIEWS'] = top_gamers['TOTAL VIEWS'].astype(int)

# Convertir la columna a tipo int
top_gamers['FOLLOWERS GAINED'] = top_gamers['FOLLOWERS GAINED'].astype(int)

# Convertir la columna a tipo int
top_gamers['RANK'] = top_gamers['RANK'].astype(int)

In [119]:
top_gamers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gamer                  100 non-null    object
 1   AVG VIEWERS            100 non-null    float64
 2   TIME STREAMED(h)       100 non-null    float64
 3   ALL TIME PEAK VIEWERS  100 non-null    int32
 4   HOURS WATCHED          100 non-null    float64
 5   RANK                   100 non-null    int64
 6   FOLLOWERS GAINED       100 non-null    int32
 7   TOTAL FOLLOWERS        100 non-null    int32
 8   TOTAL VIEWS            100 non-null    int32
dtypes: float64(3), int32(4), int64(1), object(1)
memory usage: 5.6+ KB

In [36]:
top_gamers.head()

,Gamer,AVG VIEWERS,TIME STREAMED(h),ALL TIME PEAK VIEWERS,HOURS WATCHED,RANK,FOLLOWERS GAINED,TOTAL FOLLOWERS,TOTAL VIEWS
0,KINGSLEAGUE,141.118,71.8,1098636,10100000.0,2,111000,2620000,446000
1,IBAI,62.765,112.7,3356074,7070000.0,6,84700,13100000,359000000
2,ILLOJUAN,39.495,125.7,172186,4960000.0,15,59200,3360000,72000000
3,AURONPLAY,43.589,89.6,602038,3900000.0,17,75900,15200000,263000000
4,ELMARIANA,34.584,95.7,128442,3310000.0,23,174000,7660000,33299999

In [ ]:

# Eliminar los puntos de los valores
top_gamers['ALL TIME PEAK VIEWERS']  = top_gamers['ALL TIME PEAK VIEWERS'] .str.replace('.', '')

# Convertir la columna a tipo int
top_gamers['ALL TIME PEAK VIEWERS']  = top_gamers['ALL TIME PEAK VIEWERS'] .astype(int)

C:\Users\GAMM\AppData\Local\Temp\ipykernel_26080\2368753959.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  top_gamers['ALL TIME PEAK VIEWERS']  = top_gamers['ALL TIME PEAK VIEWERS'] .str.replace('.', '')

In [177]:
#guardamos el df limpio
top_gamers.to_csv("../data/data_cleaned/top_gamers.csv", index=False)

STREAMERS_WITH_THE_MOST_VIEWERS la tabla de Ranked by average concurrent viewers for the last 30 days, June 2023, Spanish language que tiene los gamers con más visulizadores

In [82]:
STREAMERS_WITH_THE_MOST_VIEWERS = pd.read_csv("../data/STREAMERS_WITH_THE_MOST_VIEWERS")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             100 non-null    int64
 1   Gamer                  100 non-null    object
 2   AVG VIEWERS            100 non-null    object
 3   TIME STREAMED(h)       100 non-null    float64
 4   hours                  100 non-null    object
 5   ALL TIME PEAK VIEWERS  100 non-null    object
 6   HOURS WATCHED          100 non-null    object
 7   RANK                   100 non-null    object
 8   FOLLOWERS GAINED       100 non-null    object
 9   TOTAL FOLLOWERS        100 non-null    object
 10  TOTAL VIEWS            100 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 8.7+ KB

In [126]:
STREAMERS_WITH_THE_MOST_VIEWERS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gamer                  100 non-null    object
 1   AVG VIEWERS            100 non-null    float64
 2   TIME STREAMED(h)       100 non-null    float64
 3   ALL TIME PEAK VIEWERS  100 non-null    int32
 4   HOURS WATCHED          100 non-null    float64
 5   RANK                   100 non-null    int32
 6   FOLLOWERS GAINED       100 non-null    int32
 7   TOTAL FOLLOWERS        100 non-null    int32
 8   TOTAL VIEWS            100 non-null    int32
dtypes: float64(3), int32(5), object(1)
memory usage: 5.2+ KB

In [125]:
STREAMERS_WITH_THE_MOST_VIEWERS.head()

,Gamer,AVG VIEWERS,TIME STREAMED(h),ALL TIME PEAK VIEWERS,HOURS WATCHED,RANK,FOLLOWERS GAINED,TOTAL FOLLOWERS,TOTAL VIEWS
0,KINGSLEAGUE,137.466,81.8,1098636,11200000.0,1,124000,2640000,446000
1,IBAI,58.934,111.3,3356074,6560000.0,7,80200,13100000,359000000
2,AURONPLAY,43.448,90.9,602038,3950000.0,18,76400,15200000,263000000
3,ILLOJUAN,40.312,118.6,172186,4780000.0,16,55700,3360000,72000000
4,QUACKITYTOO,39.359,13.9,140697,547000.0,56,70300,4210000,3510000

In [84]:

# Borramos el índice mal guardado
STREAMERS_WITH_THE_MOST_VIEWERS.drop(columns="Unnamed: 0", inplace=True)

# Borramos la columna "hours" que no hace nada
STREAMERS_WITH_THE_MOST_VIEWERS.drop(columns="hours", inplace=True)

# Quitamos el "+" de la columna "FOLLOWERS GAINED"
STREAMERS_WITH_THE_MOST_VIEWERS["FOLLOWERS GAINED"] = STREAMERS_WITH_THE_MOST_VIEWERS["FOLLOWERS GAINED"].str.replace("+", "", regex=True)

# Aplicar la función a la columna "HOURS WATCHED"
STREAMERS_WITH_THE_MOST_VIEWERS["HOURS WATCHED"] = STREAMERS_WITH_THE_MOST_VIEWERS["HOURS WATCHED"].apply(convert_to_numeric)

# Aplicar la función a la columna "FOLLOWERS GAINED"
STREAMERS_WITH_THE_MOST_VIEWERS["FOLLOWERS GAINED"] = STREAMERS_WITH_THE_MOST_VIEWERS["FOLLOWERS GAINED"].apply(convert_to_numeric)

# Aplicar la función a la columna "TOTAL VIEWS"
STREAMERS_WITH_THE_MOST_VIEWERS["TOTAL VIEWS"] = STREAMERS_WITH_THE_MOST_VIEWERS["TOTAL VIEWS"].apply(convert_to_numeric)

# Aplicar la función a la columna "TOTAL FOLLOWERS"
STREAMERS_WITH_THE_MOST_VIEWERS["TOTAL FOLLOWERS"] = STREAMERS_WITH_THE_MOST_VIEWERS["TOTAL FOLLOWERS"].apply(convert_to_numeric)

# Eliminar las comas de los valores en "AVG VIEWERS"
STREAMERS_WITH_THE_MOST_VIEWERS['AVG VIEWERS'] = STREAMERS_WITH_THE_MOST_VIEWERS['AVG VIEWERS'].str.replace(',', '.')

# Convertir la columna "AVG VIEWERS" a tipo float
STREAMERS_WITH_THE_MOST_VIEWERS['AVG VIEWERS'] = STREAMERS_WITH_THE_MOST_VIEWERS['AVG VIEWERS'].astype(float)

# Rellenar los valores nulos en "TOTAL VIEWS" con 0
STREAMERS_WITH_THE_MOST_VIEWERS['TOTAL VIEWS'] = STREAMERS_WITH_THE_MOST_VIEWERS['TOTAL VIEWS'].fillna(0)

# Convertir las columnas "TOTAL FOLLOWERS" y "TOTAL VIEWS" a tipo int
STREAMERS_WITH_THE_MOST_VIEWERS['TOTAL FOLLOWERS'] = STREAMERS_WITH_THE_MOST_VIEWERS['TOTAL FOLLOWERS'].astype(int)
STREAMERS_WITH_THE_MOST_VIEWERS['TOTAL VIEWS'] = STREAMERS_WITH_THE_MOST_VIEWERS['TOTAL VIEWS'].astype(int)

# Eliminar los puntos de los valores
STREAMERS_WITH_THE_MOST_VIEWERS['ALL TIME PEAK VIEWERS'] = STREAMERS_WITH_THE_MOST_VIEWERS['ALL TIME PEAK VIEWERS'].str.replace(',', '')

# Eliminar los puntos de los valores
STREAMERS_WITH_THE_MOST_VIEWERS['ALL TIME PEAK VIEWERS']  = STREAMERS_WITH_THE_MOST_VIEWERS['ALL TIME PEAK VIEWERS'] .str.replace('.', '')

# Convertir la columna a tipo int
STREAMERS_WITH_THE_MOST_VIEWERS['ALL TIME PEAK VIEWERS'] = STREAMERS_WITH_THE_MOST_VIEWERS['ALL TIME PEAK VIEWERS'].astype(int)

# Rellenar los valores nulos en "TOTAL VIEWS" con 0
STREAMERS_WITH_THE_MOST_VIEWERS['TOTAL VIEWS'] = STREAMERS_WITH_THE_MOST_VIEWERS['TOTAL VIEWS'].fillna(0)

# Convertir la columna a tipo int
STREAMERS_WITH_THE_MOST_VIEWERS['FOLLOWERS GAINED'] = STREAMERS_WITH_THE_MOST_VIEWERS['FOLLOWERS GAINED'].astype(int)

# Eliminar los puntos de los valores
STREAMERS_WITH_THE_MOST_VIEWERS['RANK'] = STREAMERS_WITH_THE_MOST_VIEWERS['RANK'].str.replace(',', '')

# Convertir la columna a tipo int
STREAMERS_WITH_THE_MOST_VIEWERS['RANK'] = STREAMERS_WITH_THE_MOST_VIEWERS['RANK'].astype(int)

In [178]:
#guardamos el df limpio
STREAMERS_WITH_THE_MOST_VIEWERS.to_csv("../data/data_cleaned/STREAMERS_WITH_THE_MOST_VIEWERS.csv", index=False)

STREAMERS_WITH_THE_FASTEST_GROWING_NUMBER_OF_FOLLOWERS Ranked by the number of followers gained for the last 30 days, June 2023, Spanish language

In [181]:
STREAMERS_WITH_THE_FASTEST_GROWING_NUMBER_OF_FOLLOWERS = pd.read_csv("../data/STREAMERS_WITH_THE_FASTEST_GROWING_NUMBER_OF_FOLLOWERS")

In [189]:
STREAMERS_WITH_THE_FASTEST_GROWING_NUMBER_OF_FOLLOWERS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gamer                  100 non-null    object
 1   AVG VIEWERS            100 non-null    float64
 2   TIME STREAMED(h)       100 non-null    float64
 3   ALL TIME PEAK VIEWERS  100 non-null    int32
 4   HOURS WATCHED          100 non-null    float64
 5   RANK                   100 non-null    int32
 6   FOLLOWERS GAINED       100 non-null    int32
 7   TOTAL FOLLOWERS        100 non-null    int32
 8   TOTAL VIEWS            100 non-null    int32
dtypes: float64(3), int32(5), object(1)
memory usage: 5.2+ KB

In [192]:
STREAMERS_WITH_THE_FASTEST_GROWING_NUMBER_OF_FOLLOWERS.head()

,Gamer,AVG VIEWERS,TIME STREAMED(h),ALL TIME PEAK VIEWERS,HOURS WATCHED,RANK,FOLLOWERS GAINED,TOTAL FOLLOWERS,TOTAL VIEWS
0,ELMARIANA,35.284,89.7,128442,3160000.0,23,163000,7660000,33299999
1,RIVERS_GG,20.381,83.3,163821,1700000.0,79,162000,3830000,4560000
2,ROIER,21.252,104.2,300741,2210000.0,62,124000,1830000,3270000
3,KINGSLEAGUE,137.466,81.8,1098636,11200000.0,1,124000,2640000,446000
4,ELSPREEN,35.532,52.4,403954,1860000.0,38,99000,7770000,32900000

In [185]:
STREAMERS_WITH_THE_FASTEST_GROWING_NUMBER_OF_FOLLOWERS = clean_streamers_data(STREAMERS_WITH_THE_FASTEST_GROWING_NUMBER_OF_FOLLOWERS)

C:\Users\GAMM\AppData\Local\Temp\ipykernel_19308\620536498.py:42: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['ALL TIME PEAK VIEWERS']  = df['ALL TIME PEAK VIEWERS'] .str.replace('.', '')

In [193]:
#guardamos el df limpio
STREAMERS_WITH_THE_FASTEST_GROWING_NUMBER_OF_FOLLOWERS.to_csv("../data/data_cleaned/STREAMERS_WITH_THE_FASTEST_GROWING_NUMBER_OF_FOLLOWERS.csv", index=False)

La tabla *streamers_top* hace referencia a los gamers que más están siendo visualizados esta semana y los juegos que están jugando

In [65]:
streamers_top.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 102
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              100 non-null    int32
 1   Gamer                             100 non-null    object
 2   Category                          100 non-null    object
 3   Number of Viewers                 100 non-null    int32
 4   Percentage of Viewers             100 non-null    float64
 5   Game                              100 non-null    object
 6   Percentage Of Spanish viewership  100 non-null    float64
dtypes: float64(2), int32(2), object(3)
memory usage: 5.5+ KB

In [66]:
streamers_top.head()

,Rank,Gamer,Category,Number of Viewers,Percentage of Viewers,Game,Percentage Of Spanish viewership
0,1,KINGSLEAGUE,Sports,52347,0.3862,Sports,0.2012
1,2,IBAI,Sports,31219,0.2303,Sports,0.1200
2,3,RIVERS_GG,Sports,25840,0.1906,Sports,0.0993
3,4,ELXOKAS,Diablo IV,8592,0.0186,Diablo IV,0.0330
4,5,MUNDODEPORTIVO,Special Events,6550,0.6180,Special Events,0.0252

In [40]:
#borramos el indice mal guardado
streamers_top.drop(columns="Unnamed: 0", inplace=True)

#quitamos el más de la columna
streamers_top["Rank"] = streamers_top["Rank"].str.replace("#", "", regex=True)

#borramos las filas que no tenían información
streamers_top.drop([40, 61, 82], inplace=True)

# Convertir la columna a tipo int
streamers_top['Rank'] = streamers_top['Rank'].astype(int)

# Convertir la columna a tipo int
streamers_top['Number of Viewers'] = streamers_top['Number of Viewers'].astype(int)

#convertimos las columnas de porcentajes a valores decimales

streamers_top["Percentage of Viewers"] = streamers_top["Percentage of Viewers"].apply(convert_percentage_to_float)

streamers_top["Percentage Of Spanish viewership"] = streamers_top["Percentage Of Spanish viewership"].apply(convert_percentage_to_float)

In [179]:
#guardamos el df limpio
streamers_top.to_csv("../data/data_cleaned/streamers_top.csv", index=False)

Y la tabla de *juegos_mas_vistos* hace referencia al top de los cien juegos más vistos actualmente

In [77]:
juegos_mas_vistos.head()

                               Game  Viewers  Change  Global Share
0                         Diablo IV   476000   0.010       0.14833
1                     Just Chatting   327000   0.022       0.10184
2                 League of Legends   217000   0.037       0.06754
3  Counter-Strike: Global Offensive   188000   0.060       0.05864
4                          VALORANT   143000   0.072       0.04457

In [68]:
#convertimos las columnas de porcentajes a valores decimales

juegos_mas_vistos["Change"] = juegos_mas_vistos["Change"].apply(convert_percentage_to_float)

juegos_mas_vistos["Global Share"] = juegos_mas_vistos["Global Share"].apply(convert_percentage_to_float)

#convertimos a números la columna de visualizaciones
juegos_mas_vistos["Viewers"] = juegos_mas_vistos["Viewers"].apply(convert_to_numeric)

# Convertir la columna a tipo int
juegos_mas_vistos["Viewers"] = juegos_mas_vistos["Viewers"].astype(int)

In [76]:
juegos_mas_vistos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Game          100 non-null    object
 1   Viewers       100 non-null    int32
 2   Change        100 non-null    float64
 3   Global Share  100 non-null    float64
dtypes: float64(2), int32(1), object(1)
memory usage: 2.9+ KB

In [180]:
#guardamos el df limpio
juegos_mas_vistos.to_csv("../data/data_cleaned/juegos_mas_vistos.csv", index=False)