# Limpieza de datos

Importamos librerías y cargamos los archivos

In [1]:
import pandas as pd
import numpy as np

In [17]:
#tablas iniciales
gamers = pd.read_csv("../data/data_gamers.csv")
nuevos_talentos = pd.read_csv("../data/nuevos_talentos.csv")
talentos_indies = pd.read_csv("../data/talentos_indies.csv")
#datos scrapeados
user_youtube = pd.read_csv("../data/df_user_youtube.csv")
juegos_mas_vistos = pd.read_csv("../data/juegos_mas_vistos.csv")
streamers_top = pd.read_csv("../data/streamers_limpio.csv")
top_streamers = pd.read_csv("../data/TWITCH_TOP_STREAMERS_week.csv")

In [27]:
user_youtube.rename(columns={"0":"Usuario"}, inplace=True)
user_youtube.head()

          Usuario           Gamer
0  @miquelmontoro  Miquel Montoro
1  @jesuscastro17    Jesús Castro
2      @seguimarc      Marc Seguí
3   @nudelolablog  Lola Rodríguez
4     @pablogshow      PabloGShow

# Limpieza inicial: tablas iniciales

Las tablas gamers, talentos_indies y nuevos_talentos son tablas de las que partimos y que sirven de ejemplo sobre cómo se puede investigar a una lista concreta de gamers para obtener información sobre sus desempeños. En este caso la investigación fue sobre su información y media de sus canales de youtube.

In [40]:
gamers.head()

,UPLOADS,SUBSCRIBERS,VIDEO VIEWS,COUNTRY,CHANNEL TYPE,USER CREATED,Gamer
0,546,41.2K,"2,614,048",ES,Games,"Apr 21st, 2010",Gladoop
1,14,150,"810,104",BR,Music,"Dec 19th, 2005",Hiper
2,105,26.7K,"221,651",ES,Games,"Jan 22nd, 2015",Jennifer123x
3,"2,175",152K,"35,180,777",ES,Games,"Sep 21st, 2014",Dheylo
4,0,7.22K,0,Nn,NaN,"Jun 14th, 2018",Lolito

In [39]:
#borramos y limpiamos lo que no sirve

gamers.COUNTRY.replace("CHANNEL TYPE", "Nn", regex=True, inplace=True)

gamers.drop(columns="Sep 19th, 2018", inplace=True)

gamers.drop(columns="Games", inplace=True)

In [16]:
talentos_indies.head()

,Unnamed: 0,UPLOADS,SUBSCRIBERS,VIDEO VIEWS,COUNTRY,USER CREATED,Gamer,CHANNEL TYPE
0,0,0,113,0,CHANNEL TYPE,"Sep 29th, 2011",Bruno Sol,NaN
1,1,"1,517",37.7K,"8,101,582",ES,"Feb 15th, 2012",DjPrieto y neta,Entertainment
2,2,296,27K,"1,983,966",ES,"Aug 8th, 2019",Indies con Lara,Games
3,3,18,59,"74,290",US,"Aug 3rd, 2008",Jin Kisaragi,Music
4,4,"2,195",1.05M,"211,421,624",ES,"Jan 26th, 2015",Kahuna Games,Games

In [41]:
#borramos el indice mal guardado
nuevos_talentos.drop(columns="Unnamed: 0", inplace=True)

In [42]:
nuevos_talentos.head()

,UPLOADS,SUBSCRIBERS,VIDEO VIEWS,COUNTRY,CHANNEL TYPE,USER CREATED,Gamer
0,157,325K,"17,923,614",ES,People,"Mar 8th, 2017",Miquel Montoro
1,787,80.3K,"5,140,984",VE,Games,"May 18th, 2015",Jesús Castro
2,19,1.57K,"154,950",ES,Howto,"Oct 7th, 2011",Lola Rodríguez
3,12,257K,"4,779,325",ES,Comedy,"Sep 29th, 2012",PabloGShow
4,3,2.68K,"58,003",ES,People,"May 24th, 2010",Benji Verdes

# Datos obtenidos del web scrapping

La tabla *top_gamers* hace referencia a los más importantes actualmente, por sus analíticas generales

In [43]:
#borramos el indice mal guardado
top_streamers.drop(columns="Unnamed: 0", inplace=True)

In [47]:
top_gamers = top_streamers

In [53]:
top_gamers.head()

,Gamer,AVG VIEWERS,TIME STREAMED(h),hours,ALL TIME PEAK VIEWERS,HOURS WATCHED,RANK,FOLLOWERS GAINED,TOTAL FOLLOWERS,TOTAL VIEWS
0,KINGSLEAGUE,"141,118",71.8,hours,"1,098,636",10.1M,2,+111K,2.62M,446K
1,IBAI,"62,765",112.7,hours,"3,356,074",7.07M,6,+84.7K,13.1M,359M
2,ILLOJUAN,"39,495",125.7,hours,"172,186",4.96M,15,+59.2K,3.36M,72.0M
3,AURONPLAY,"43,589",89.6,hours,"602,038",3.90M,17,+75.9K,15.2M,263M
4,ELMARIANA,"34,584",95.7,hours,"128,442",3.31M,23,+174K,7.66M,33.3M

La tabla *streamers_top* hace referencia a los gamers que más están siendo visualizados esta semana y los juegos que están jugando

In [45]:
#borramos el indice mal guardado
streamers_top.drop(columns="Unnamed: 0", inplace=True)

In [50]:
streamers_top.head()

,Rank,Gamer,Category,Number of Viewers,Percentage of Viewers,Game,Percentage Of Spanish viewership
0,#1,KINGSLEAGUE,Sports,52347,38.62%,Sports,20.12%
1,#2,IBAI,Sports,31219,23.03%,Sports,12%
2,#3,RIVERS_GG,Sports,25840,19.06%,Sports,9.93%
3,#4,ELXOKAS,Diablo IV,8592,1.86%,Diablo IV,3.3%
4,#5,MUNDODEPORTIVO,Special Events,6550,61.8%,Special Events,2.52%

Y la tabla de *juegos_mas_vistos* hace referencia al top de los cien juegos más vistos actualmente

In [9]:
juegos_mas_vistos.head()

                               Game Viewers Change Global Share
0                         Diablo IV    476K     1%      14.833%
1                     Just Chatting    327K   2.2%      10.184%
2                 League of Legends    217K   3.7%       6.754%
3  Counter-Strike: Global Offensive    188K     6%       5.864%
4                          VALORANT    143K   7.2%       4.457%