# Análisis Exploratorio de los datos recopilados

Habiendo recogido y limpiado los datos previamente, ahora exploraré los datos para sacar las métricas e insights que puedan ser relevantes para posibles estrategias de Marketing por parte de empresas como Playstation.

In [1]:
#importamos librerías
import pandas as pd
import numpy as np

# Los juegos más vistos

In [2]:
top_juegos_mas_vistos = pd.read_csv("../data/data_cleaned/juegos_mas_vistos.csv")

In [3]:
top_juegos_mas_vistos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Game          100 non-null    object
 1   Viewers       100 non-null    int64
 2   Change        100 non-null    float64
 3   Global Share  100 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.2+ KB

In [4]:
top_juegos_mas_vistos.head()

                               Game  Viewers  Change  Global Share
0                         Diablo IV   476000   0.010       0.14833
1                     Just Chatting   327000   0.022       0.10184
2                 League of Legends   217000   0.037       0.06754
3  Counter-Strike: Global Offensive   188000   0.060       0.05864
4                          VALORANT   143000   0.072       0.04457

# Top de los principales gamers o influencers

In [5]:
top_gamers = pd.read_csv("../data/data_cleaned/top_gamers.csv")

In [6]:
top_gamers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gamer                  100 non-null    object
 1   AVG VIEWERS            100 non-null    float64
 2   TIME STREAMED(h)       100 non-null    float64
 3   ALL TIME PEAK VIEWERS  100 non-null    int64
 4   HOURS WATCHED          100 non-null    float64
 5   RANK                   100 non-null    int64
 6   FOLLOWERS GAINED       100 non-null    int64
 7   TOTAL FOLLOWERS        100 non-null    int64
 8   TOTAL VIEWS            100 non-null    int64
dtypes: float64(3), int64(5), object(1)
memory usage: 7.2+ KB

In [7]:
top_gamers.head()

,Gamer,AVG VIEWERS,TIME STREAMED(h),ALL TIME PEAK VIEWERS,HOURS WATCHED,RANK,FOLLOWERS GAINED,TOTAL FOLLOWERS,TOTAL VIEWS
0,KINGSLEAGUE,141.118,71.8,1098636,10100000.0,2,111000,2620000,446000
1,IBAI,62.765,112.7,3356074,7070000.0,6,84700,13100000,359000000
2,ILLOJUAN,39.495,125.7,172186,4960000.0,15,59200,3360000,72000000
3,AURONPLAY,43.589,89.6,602038,3900000.0,17,75900,15200000,263000000
4,ELMARIANA,34.584,95.7,128442,3310000.0,23,174000,7660000,33299999

# Top de los gamers más strimeados

In [8]:
top_streamers = pd.read_csv("../data/data_cleaned/streamers_top.csv")

In [9]:
top_streamers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              100 non-null    int64
 1   Gamer                             100 non-null    object
 2   Category                          100 non-null    object
 3   Number of Viewers                 100 non-null    int64
 4   Percentage of Viewers             100 non-null    float64
 5   Game                              100 non-null    object
 6   Percentage Of Spanish viewership  100 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 5.6+ KB

In [10]:
top_streamers.head()

,Rank,Gamer,Category,Number of Viewers,Percentage of Viewers,Game,Percentage Of Spanish viewership
0,1,KINGSLEAGUE,Sports,52347,0.3862,Sports,0.2012
1,2,IBAI,Sports,31219,0.2303,Sports,0.1200
2,3,RIVERS_GG,Sports,25840,0.1906,Sports,0.0993
3,4,ELXOKAS,Diablo IV,8592,0.0186,Diablo IV,0.0330
4,5,MUNDODEPORTIVO,Special Events,6550,0.6180,Special Events,0.0252